
# Framework
reflex==0.8.23

# Autenticación y Seguridad
PyJWT==2.10.1
bcrypt==4.3.0

# Base de Datos
pymongo==4.15.2

# Modelos de Datos
pydantic>=2.9.0,<2.11.0

# Configuración
python-dotenv==1.1.1

# Dependencias de producción
redis>=4.3.5,<6.0